<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Price Monitoring</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <img src="static/images/logo.jpeg" alt="Logo" />
  </header>
  <nav>

  </nav>
  <main>
    <h1>Price Monitoring System</h1>
    <div class="login">
      <img src="static/images/logo.jpeg" alt="Logo" class="logoinimg" />
      <h3 class="tag">Login</h3>
      <form id="loginForm" action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button class="login-button" type="submit">Login</button>
      </form>
      <p id="message">{{ message }}</p> <!-- Flask will populate this with the error message -->
    </div>
  </main>
</body>

</html>
