html {
    height: 100%;
    width: 100%;
  
  }
  
  .header-logo-logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 5em;
    width: 14em;
  }
  
  
  nav {
    background-color: #61636d;
    height: 5vh;
    width: 100vw;
  
  }
  
  main {
    background-color: #eff0f1;
    height: 80vh;
    width: 100vw;
    padding: 1em;
  
  }
  
  main .login {
    text-align: center;
    height: 57vh;
    width: 25vw;
    background-color: #f0f0f0;
    border: 2px solid black;
    margin-left: 35vw;
    margin-top: 0vw;
    font-size: 1.5em;
  }
  
  #message {
    color: red;
  }
  
  .login-button {
    height: 3vw;
    width: 8vw;
    background: #ccd5e1;
    font-size: 0.7em;
  }
  
  
  .logout {
    height: 2vw;
    width: 4vw;
    background: #ccd5e1;
    font-size: 0.9em;
    margin-right: 1vw;
  }
  
  .search-input {
    display: flex;
    gap: 1em;
  }
  
  #search-product {
    height: 2em;
    width: 20vw;
  }
  
  .product {
    display: flex;
    gap: 3em;
    margin-top: 2em;
  }
  
  .product-img img {
    height: 20vh;
    width: 8vw;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-img img:hover {
    transform: scale(1.05);
  }
  
  
  .price-list {
    display: flex;
    gap: 3em;
  }
  
  .reload {
    color: blue;
    font-size: 0.5em;
  }
  
  .reload.reload:hover {
    transform: scale(1.05);
  }
  
  .searchbutton {
    height: 2em;
    width: 6em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .searchbutton:hover {
    background-color: #0056b3;
  }
  
  .logoinimg {
    height: 5em;
    width: 8em;
    margin-top: 0.5em;
  }
  
  /* styles.css */
  .login h3 {
    border: 2px solid black;
    width: 5vw;
    padding: 0.8vw;
    margin-left: 9.3vw;
    background-color: black;
    color: white;
    font-size: 0.8em;
  
  }
  
  .updatebutton {
    height: 2em;
    width: 6em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .updatebutton:hover {
    background-color: #0056b3;
  }
  
  .tag {
    font-size: 0.8em;
  }
  
  