<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Price Monitoring</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <link href="static/css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <img src="static/images/CBT_logo.svg" alt="Logo" />
  </header>
  <nav>

  </nav>
  <main>
    <h1>Price Monitoring System</h1>
    <!--<div class="login">
      <img src="static/images/CBT_logo.svg" alt="Logo" class="logoinimg" />
      <h3 class="tag">Login</h3>
      <form id="loginForm" action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button class="login-button" type="submit">Login</button>
      </form>
      <p id="message">{{ message }}</p> <!-- Flask will populate this with the error message 
    </div> -->
    <div class="wrapper fadeInDown">
      <form id="loginForm" action="/login" method="post">
      <div id="formContent">
     
        <!-- Tabs Titles -->
        <h2 class="active"> Login </h2>
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="static/images/CBT_logo.svg" id="icon" alt="User Icon" />
        </div>
    
        <!-- Login Form -->
        <form>
          <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
          <input type="password" type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
   
      </div>
    </form>
    </div>
  </main>
</body>

</html>
