<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Price Monitoring</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="header-logo-logout">
    <img src="static/images/logo.jpeg" alt="Logo" class="logo-img" />
    <div class="search-input">
      <input name="search-product" type="text" id="search-product" placeholder="Product ID" />
      <button class="searchbutton" type="button" onclick="searchProduct()">Search</button>
  </div>
    <button class="logout" type="button" onclick="logout()"> Logout </button>
  </div>
  <div class="search">
    <p> <a href="index.html">Home</a> / Price Monitoring </p>
    <div class="search-bar">
        <!--<h3>Search for a product</h3>
        <div class="search-input">
            <input name="search-product" type="text" id="search-product" placeholder="Product ID" />
            <button class="searchbutton" type="button" onclick="searchProduct()">Search</button>
        </div>-->
    </div>

  </div>
      <main>
        <h1>Price Monitoring System</h1>
        {% for product in products %}
        <div class="product">
          <div class="product-img">
            <img src="static/images/{{product.image}}" alt="product-image" />
        </div>
        <div class="product-info">
          <h3> {{product.name}}</h3>
          <h2> {{product.id}} <span onclick ="reloadPrice()" class="glyphicon glyphicon-refresh reload"></span> </h2>
          <div class="price-list">
            <div class="ebay">
              <p>Ebay Price</p>
              <p id="ebay-price"></p>
          </div>

          <div class="officedepot">
            <p>officedepot Price</p>
            <p id="officedepot-price"></p>
          </div>
          
          <div class="staples">
            <p>staples Price</p>
            <p id="staples-price"></p>
          </div>
            <div class="amazon">
                <p>Amazon Price</p>
                <p id="amazon-price"></p>
              </div>
            <div class="cityblue">
                <p>CityBlue Price</p>
                <p id="cityblue-price"></p>
              </div>
            <div class="update">
                <p> Updated CityBlue Price (in $) </p>
                <input type="hidden" class="product-id" value="{{ product.id }}">
                <input type="text" class="new-price"  placeholder="Enter the new price" />
            <button class="updatebutton" type="button" onclick="updatePrice(this)"> Update </button>
            </div>
        </div>
        </div>
        </div>
        {% endfor %}


      </main>
      <script>

          function get_data(){
            fetch('/ebay')
                      .then(response => response.json())
                      .then(data => {
                          document.getElementById('ebay-price').textContent = data.ebay_price.substring(3);
                      })
                      .catch(error => {
                          console.error('Error fetching eBay price:', error);
                      });
                 /* Scrap JS Harsh*/
            fetch('/officedepot')
            .then(response => response.json())
                      .then(data => {
                          document.getElementById('officedepot-price').textContent = data.officedepot_price;
                      })
                      .catch(error => {
                          console.error('Error fetching eBay price:', error);
                      });

                    fetch('/staples')
          .then(response => response.json())
                    .then(data => {
                        document.getElementById('staples-price').textContent = data.staples_price;
                    })
                    .catch(error => {
                        console.error('Error fetching eBay price:', error);
                    });

                      

            fetch('/amazon')
                      .then(response => response.json())
                      .then(data => {
                          document.getElementById('amazon-price').textContent = data.amazon_price;
                      })
                      .catch(error => {
                          console.error('Error fetching amazon price:', error);
                      });
              

            fetch('/cityblue')
                      .then(response => response.json())
                      .then(data => {
                          document.getElementById('cityblue-price').textContent = data.cityblue_price;
                      })
                      .catch(error => {
                          console.error('Error fetching cityblue price:', error);
                      });
          };
          window.onload = function() {
            document.getElementById('ebay-price').textContent = 'Loading...';
            document.getElementById('officedepot-price').textContent = 'Loading...';
            document.getElementById('staples-price').textContent = 'Loading...';
            document.getElementById('amazon-price').textContent = 'Loading...';
            document.getElementById('cityblue-price').textContent = 'Loading...';

            get_data()
          
              };

            
        function updatePrice(button) {
          let productId = button.parentElement.querySelector('.product-id').value;
          let newPrice = button.parentElement.querySelector('.new-price').value;

          fetch('/update_price', {
              method: 'POST',
              body: JSON.stringify({product_id: productId, new_price: newPrice}),
              headers: {
                  'Content-Type': 'application/json'
              }
            })
          .then(response => response.json())
          .then(data => {
              alert('Price updated successfully')
              console.log('Price updated successfully');
          })
          .catch(error => {
              console.error('Error updating price:', error);
          });
        };
          function logout(){
            window.location.href = "/logout";
          }

          /* Search JS Akash*/
          function searchProduct() {
            let searchTerm = document.getElementById('search-product').value.trim().toLowerCase();
            let products = document.querySelectorAll('.product');
        
            products.forEach(product => {
              let productName = product.querySelector('.product-info h3').textContent.toLowerCase();
              let productId = product.querySelector('.product-info h2').textContent.toLowerCase();
        
              if (productName.includes(searchTerm) || productId.includes(searchTerm)) {
                product.style.display = 'block';
              } else {
                product.style.display = 'none'; 
              }
            });
          }
             /* Search JS end*/
      </script>
</body>

</html>